.box{
   height: 10rem;
}
#product{
    width: 100vw;
}
.products-container{
    width: 100vw;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 3rem;
}
.products-container h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    font-weight: bold;
    font-size: 3rem;
}
.products-box{
    width: 90vw;
    display: grid;
    grid-template-rows:200px 200px ;
    grid-template-columns: 400px 700px ;
    align-items: center;
    justify-content: center;
    column-gap: 6rem;
}
.products-box img{
    height: 100%;
    width: 100%;
    margin-bottom: 9px;
}
.products-box h4{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}
.modal{
    width: 70vw;
}
.modal-body-container{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}
.modal-body-container img{
    width: 250px;
    height: 250px;
}
.modal-body-container h3{
    font-weight: bold;
    margin-left: 2rem;
}
.btns{
    color: rgb(8, 1, 37);
    font-weight: bold;
    background: linear-gradient(90deg,#9d8af3,#7bbde4);
    text-transform: capitalize;
    font-size: 1rem;
    border: none;
    border-radius: 40px;
    padding: 12px 36px;
}
.btns:hover{
    box-shadow: 0 0 10px #2193f6 ,0 0 40px #2193f6 ,0 0 80px #2193f6;
    text-transform: capitalize;
}
@media (max-width: 1024px){
    .box{
        height: 7rem;
    }
    .products-box{
        grid-template-columns: 300px 400px ;
        
    }
}
@media (max-width: 830px){
    .box{
        height: 7rem;
    }
    .products-container{
        padding-left: 1rem;
    }
    .products-box{
        grid-template-rows:300px  ;
        grid-template-columns:200px;
        row-gap: 5rem;
        margin-bottom: 4rem;
    }
}