*{
    text-transform: capitalize;
    font-family: sans-serif;
}
/*navbar section start*/
.navbar{
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
  }
  .navbar-brand{
    font-size: 5rem;
    font-weight: bold;
    font-family: Ubuntu;
  }
  .navbar-brand img{
    height: 3rem;
    width: 8rem;
    padding-top: 1px;
  }
  .nav-item{
    padding: 0 10px;
  }
  .nav-link{
    color: #000003;
    font-size: 1rem;
    font-family: Ubuntu;
    
  }
  .nav-link:hover{
    font-weight: bold;
    color: rgb(4, 4, 66);
  }

  
/* navbar section end*/

/* header section start*/
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.box{
    width: 80rem;
    height: 15rem;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.box h2{
   color: white;
   font-weight: bold;
   font-size: 3rem;
}

.box button{
    color: black;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-right: 2rem;
    border-radius: 40px;
    padding: 12px 36px;
    background: linear-gradient(90deg,#f88366,#7ff163);
    border: none;
    
}
.box button:hover{
    box-shadow: 0 0 10px #2193f6 ,0 0 40px #2193f6 ,0 0 80px #2193f6;
    text-transform: capitalize;
}

/*header section end*/

/* about us section start */

#about-us{
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 0 7rem;
}
.about-us-container{
    padding: 3rem;
    height: 60vh;
    width: 80vw;
    text-align: center; 
}
.about-us-container h2{
    padding-bottom: 1em;
    font-weight: bold;
    color: rgb(13, 13, 65);
    
}

.about-us-container button{
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 1rem;
    border-radius: 40px;
    padding: 12px 36px;
    background: linear-gradient(90deg,#755bea,#ff72c0);
    border: none;
    
}
.about-us-container button:hover{
    box-shadow: 0 0 10px #2193f6 ,0 0 40px #2193f6 ,0 0 80px #2193f6;
    text-transform: capitalize;
}
.modal-header h2{
    text-transform: capitalize;
    color: blue;
}
/* about us section end*/

/* product section start*/
#products{
    height: 70vh;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 1em;
    background-color: rgb(198, 198, 248);
}
.product-container{
    height: 100vh;
    width: 100vw;
}
.product-container h2{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #05036A;
    margin-top: 1rem;
}
.product-detail-container{
    width: 100vw;
    height: 70vh;
    display: flex;
}
.product-detail{
    width: 250px;
    height: 300px;
    margin-top: 5em;
    position: relative;
    border:1px solid rgba(255,255,255,.2);
    overflow: hidden;
}
.textbox{
    height: 50px;
    background: rgba(0,0,0,0.7);
    padding: 3px;
    border-radius: 7px;
}
.textbox h4{
    font-size: 18px;
    color: white;
}

.product-detail img{
    width: 100%;
    height: 100%;
}
/* product section end*/

/* contact section start*/
#contact-us{
    width: 100vw;
    /* height: 70vh; */
    background-color: rgb(214, 212, 212);
}
.footer{
    width: 100%;
    height: auto;
    padding: 40px 0;
}
.footer-inner{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 24px;
}
.map iframe{
     width: 100%;
     height: 340px;
     border: none;
}
.contact-text{
    width: 100%;
    height: auto;
    margin: 2rem;
}
.contact-text h1{
    font-size: 30px;
    font-weight: 600;
    color: #05036A;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
.contact-text h2{
    font-size: 20px;
    font-weight: 600;
    color: #444;
    margin: 0;
    padding-top: 25px;    
}
.contact-text h2 i{
    color: #05036A;
}
.contact-text p{
    font-size: 14px;
    color: #000;
    margin: 0;
    padding-top: 5px;
    padding-left: 24px;
    font-weight: 100;
}
/* contact section end*/
/*footer start*/
#footer{
    width: 100vw;
    height: 20vh;
    /* padding: 5% 15%; */
    text-align: center;
    background-color: #05036A;
    color: wheat;
  }
  .social-icon{
    margin: 20px 10px;
    cursor: pointer;
  }
  /*footer end*/ 
  .btn{
    font-weight: bold;
    background: linear-gradient(90deg,#9d8af3,#7bbde4);
    text-transform: capitalize;
    font-size: 1rem;
    color: white;
}
@media (max-width: 1024px){
    .box h2{
        font-size: 1.5rem;
        line-height: 2%;
    }
    #products{
        width: 100vw;
        height: 300vh;
    }
    .product-detail-container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: 300px 300px ;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 2rem;
        padding-left: 6rem;
        margin-top: 3rem;
    }

}

@media all and (max-width: 740px){
    .box{
        height: 12rem;
    }
    .box h2{
        font-size: 1rem;
        line-height: 2%;
    }
    .box button{
        font-size: 14px;
        padding: 10px 25px;
    }
    
    #about-us{
        min-height: 100vh;
        padding: 0 4rem;
    }
    #products{
        width: 100vw;
        height: 270vh;
    }
    .product-container{
        width: 100vw;
        padding-top: 2rem;
        height: 400vh;
    }
    .product-container h2{
        font-size: 40px;
    }
   .product-detail-container{
    width: 70vw;
    height: 200vh;
    display: grid;
    margin-top: 4rem;
    grid-template-rows: 400px ;
    grid-template-columns: 200px ;
    row-gap: 1rem;
    text-align: center;
    margin-left: 1rem;
   }
  
   .textbox h4{
       font-size: 18px;
   }

}
